@*@model List<StudentResultViewModel>
*@
@{
    ViewData["Title"] = "Home Page";
    int num = 1;
}

<table class="table table-bordered text-monospace">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Degree</th>
      <th scope="col">Stauts</th>
      <th scope="col">Show</th>
    </tr>
  </thead>
  <tbody>

        @foreach (var item in Model)
        {    <tr class="details @(@item.Stauts == "Fail" ? "bg-danger" : "bg-success")">

            <th>@(num++)</th>
            <td>@item.Name</td>
            <td>@item.cName</td>
            <td>@item.Degree</td>
            <td>@item.Stauts</td>
      <td scope="col"><a href="/home/show/?stdid=@item.stdId&CrsId=@item.CrsId" class="btn btn-primary">View</a></td>

            </tr>

        }
      

  </tbody>
</table>

 
